extends layout

block content
  .container
    h1 #{title}
    form(action="", method="POST")
      .form-group
        label(for="type") Type:</label>
        select#type.form-control(name="type")
          option(value="income") Income
          option(value="expense") Expense
      .form-group
        label(for="category") Category:</label>
        input#category.form-control(type="text", name="category", placeholder="Enter category")
      .form-group
        label(for="description") Description:</label>
        textarea#description.form-control(name="description", rows="3", placeholder="Enter description")
      .form-group
        label(for="amount") Amount:</label>
        input#amount.form-control(type="number", name="amount", placeholder="Enter amount")
      button.btn.btn-primary(type="submit") #{buttonText}
