extends layout

block content
  .container-fluid
    .row
      .col-md-8.offset-md-2
        .text-center
          h1.mb-4 #{title}
          p This is a simple application for managing your expenses.
          p Click the button below to view your list of expenses.
          br
          a.btn.btn-primary(href="/expenses") View Your Expenses
          br



  
