extends layout

block content
  div
    div
      div
        h1 #{title}
        p This is a simple application for managing your expense
        p Click the button below to view your list of expenses
        br
        a(href="") View Your Expenses
        br


  
