extends layout

block content
  .container
        .card
          .card-header
            h5.card-title Expense Details
          .card-body
            .form-group.row
                label Type:
                p #{incomeExpense.type}
            .form-group.row
                label Description:
                p #{incomeExpense.description}
            .form-group.row
                label Category:
                p #{incomeExpense.category}
            .form-group.row
                label Amount:
                p #{incomeExpense.amount}
