body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  text-align: center;
}

.btn-pri {
  background-color: #1f3c88;
}

.pt-80 {
  padding-top: 80px;
}

.btn-sec {
  background-color: #fac344;
}
.navbar {
  max-height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

.total {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
.section {
  margin-bottom: 20px;
}
.section-header {
  font-size: 20px;
  margin-bottom: 10px;
}
